@import "@globStyles/vars.scss";

.movieCard {
  font-size: 15px;
  width: 80%;
  max-height: 550px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  background-color: $secondary-color;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  &:hover .overview {
    top: 0%;
    opacity: .82;
  }

  @media screen and (min-width: $mobileL) {
    font-size: 13px;
    max-height: unset;
    width: 48%;
  }
  @media screen and (min-width: $tablet) {
    font-size: 15px;
    width: 32%;
  }

  @media screen and (min-width: $laptop) {
    width: 23%;
  }
}

.poster {
  width: 100%;
  height: auto;
}

.overview {
	position: absolute;
	top: 100%;
  height: 100%;
	transition: top .7s ease-in-out, opacity .7s ease-in;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	overflow-x: auto;
	line-height: 1.4;
	background-color: white;
  opacity: 0;
}

.info {
  box-sizing: border-box;
  padding: 8px 16px 16px 16px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding-right: 15px;
  font-weight: bold;
  color: white;
}

.score {
  width: 42px;
  height: 32px;
  flex-shrink: 0;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  color: $medium-score;
  background-color: $primary-color;
  border-radius: 4px;
}

.overviewHeader {
  margin: 0px;
  margin-left: 5px;
}

.overviewText {
  font-size: 12px;
}

.lowScore {
  color: $low-score;
}
.mediumScore {
  color: $medium-score;
}
.highScore {
  color: $high-score;
}

.removeReview {
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border: none;
  border-radius: 12px;
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: 22px;
  background-image: url( './remove-review-btn.svg');
}

.addReview {
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.4;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: width .3s ease-out;
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-image: url( './review-btn.svg');

  &_reviewBlock {
    right: 42px;
  }

  &:hover {
    background-color: darkorange;
    width: 130px;
  }
  &:focus {
    background-color: darkorange;
  }
  &:active {
    background-color: coral;
  } 

  &:hover .addReviewText {
    padding-left: 18px;
  }
}

.addReviewText {
  display: inline-block;
  padding-left: 26px;
  white-space: nowrap;
}