@import '@globStyles/vars.scss';

.contentHolder {
  @include pageWrapper(true);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 16px;

  @media screen and (min-width: $mobileL) {
    justify-content: space-between;
  }
}

