//Colors
$primary-color: #22254b;
$secondary-color: #373b69;
$tertiary-color: #6078c5;
$high-score: lightgreen;
$medium-score: orange;
$low-score: red;

//Reusable styles
@mixin pageCenterer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}