//Colors
$primary-color: #22254b;
$secondary-color: #373b69;
$tertiary-color: #6078c5;
$high-score: lightgreen;
$medium-score: orange;
$low-score: red;


//viewports
$mobileS: 320px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;

//Reusable styles
@mixin pageWrapper($isContentHolder: false) {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  @if $isContentHolder==true {
    flex: 1 0 auto;
  } @else {
    flex-shrink: 0;
  }
  @media screen and (min-width: $laptop) {
    max-width: 1296px;
  }
}

@mixin errorBlock {
  font-size: 36px;
  color: white;
  text-align: center;
}
@mixin errorHeader {
  margin: 0;
  padding-top: 98px;
}

//Functions
@function lighten-color($color, $amount) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $alpha: alpha($color);

  $new-red: $red + (255 - $red) * $amount;
  $new-green: $green + (255 - $green) * $amount;
  $new-blue: $blue + (255 - $blue) * $amount;

  @return rgba($new-red, $new-green, $new-blue, $alpha);
}